body {
  margin: 0;
}
p {
  margin: 0;
}
.back p {
  padding: 0.15em 0;
}
p:hover {
  cursor: default;
}
h1 {
  margin: 0.5em 0;
  font-size: 3em;
  text-align: center;
}
#score {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#deck {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.5em 0 0;
  background-color: lightgrey;
  box-shadow: 0 2px 2px white inset;
  height: 100px;
}
#card {
  height: 60px;
  width: 40px;
}
.front {
  height: 60px;
  width: 40px;
  border: 5px solid darkblue;
  color: darkblue;
  background-color: powderblue;
  border-radius: 0.2em;
  font-size: 2.6em;
  text-align: center;
  position: absolute;
}
.back {
  position: absolute;
  height: 60px;
  width: 40px;
  border-radius: 0.2em;
  border: 5px solid darkblue;
  font-size: 2.6em;
  color: darkblue;
  text-align: center;
  background-color: lightslategrey;
}
